<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: head('today\'s menu')">
</head>
<body>
<style>
    .form-body{
      height: 90%;
      padding: 20px;
    }
    .login-card{
      padding: 20px;
      margin: 5%;
    }
    .main{
      height: 100%;
      overflow: hidden;
    }

    .main-content{
      margin-top: 30px;
      margin-bottom: 30px;
      overflow: auto;
    }

    img{
      width: 100%;
      max-height: 100%;
    }

    .card-body{
      display:flex;
      justify-content: center;
      align-items: center;
    }

    .btn-group{
      display:flex;
      justify-content: center;
      align-items: center;
    }

    p{
      margin: 0;
      margin-left: 3px;
      margin-right: 3px;
    }

    add-card{
      padding: 2%;
      display: flex;
      flex-direction: row;
    }
</style>
<style th:replace="fragments/nav :: nav-style"></style>
<div class="main">
  <nav th:replace="fragments/nav :: nav"></nav>
  <div class="container main-content">
    <div class="col gx-5">
      <div class="row add-card card" style="display: flex; flex-direction: row; padding: 1%">
        <div class="col-4">
          <div class="form-group">
            <input type="text" class="form-control" id="food-name" placeholder="food name">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <input type="text" class="form-control" id="food-price" placeholder="price">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group" style="display: flex; justify-content: center;">
            <button class="btn btn-dark" onclick="addFood()">Add Food</button>
          </div>
        </div>
      </div>

      <div class="row gx-5" style="margin-top: 20px;">
        <div class="col-6">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">item name</th>
              <th scope="col">price</th>
              <th scope="col">add</th>
            </tr>
            </thead>

            <tbody id="list-all-foods">
            <tr class="table-active">
              <th scope="row">1</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>

            <tr class="table-primary">
              <th scope="row">2</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">3</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr class="table-success">
              <th scope="row">4</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr class="table-danger">
              <th scope="row">5</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr class="table-warning">
              <th scope="row">6</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr class="table-info">
              <th scope="row">7</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr class="table-light">
              <th scope="row">8</th>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="col-6">
          <table class="table table-hover">
            <thead>
            <tr>

              <th scope="col">item name</th>
              <th scope="col">price</th>
              <th scope="col">action</th>

            </tr>
            </thead>

            <tbody>

            <tr class="table-active">
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr class="table-primary">
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr class="table-secondary">
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr class="table-success">
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
const onLoadFunc = () => {
console.log("on load")
fetch("http://localhost:8080/api/kitchen/foods")
    .then(res => res.json())
    .then(res => {
      console.log(res);
      ListFoodsRenderer(res);
    })
    .catch(err => console.log(err))
}

window.onload = onLoadFunc;

 const ListFoodsRenderer = (res) => {
      console.log("list all renderer");
      const foodItems = res.list;


console.log(document.querySelector("#list-all-foods").innerHtml)
      //document.querySelector("#list-all-foods").innerHtml = "";
 }


  const addFood = () => {

    const foodNameEl = document.querySelector("#food-name");
    const foodPriceEl = document.querySelector("#food-price");

    console.log({name: foodNameEl.value, price:foodPriceEl.value });

    fetch("http://localhost:8080/api/kitchen/food-create", {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
      body: JSON.stringify({name: foodNameEl.value, price:foodPriceEl.value })
  })
      .then((res)=> res.json())
      .then((res)=>{
        console.log(res);

        foodNameEl.value = "";
        foodPriceEl.value = "";
      })
      .catch(err => console.log(err))

  }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>