<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: head('cart')">
</head>
<body>
<style>
  .container{
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .table-num{
    text-align: center;
  }

   .price{
    text-align: right;
  }

  .pay{
  margin-top: 50px;
  }

   .toolbar-text{
      display: flex;
      align-items: center;
    }
    h3{
      text-align: center;
    }
    table-main{
      margin-top: 5%;
    }
</style>
<style th:replace="fragments/nav :: nav-style"></style>
<div class="main">
  <nav th:replace="fragments/nav :: nav"></nav>
  <div class="container main-content">
    <div class="col">
      <div class="row toolbar-body card border-dark mb-3" style="display: flex; flex-direction: row; padding: 1%; margin-left: 5%; margin-right: 5%;">
        <div class="col-2 toolbar-1-body">
          <h3>dine no: <b th:text="${dine.getNumber()}"></b></h3>
        </div>
        <div class="col-5 toolbar-2-body">
          <h3>customer: <b th:text="${dine.getCustomer()}"></b></h3>
        </div>
        <div class="col-5 toolbar-2-body">
          <h3>transaction id: <b th:text="${dine.getTransactionId()}"></b></h3>
        </div>
      </div>

      <div class="row table-main">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Index</th>
            <th scope="col">Food name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
          </thead>
          <tbody id="bill-table">
          </tbody>
        </table>
      </div>
      <div class="row price">
        <h2 id="bill-total">total price: #400</h2>
      </div>
      <div class="row pay">
        <button type="button" onclick="tempFunc()" class="btn btn-dark">Pay with cash</button>
        <form action="/customer/pay" method="post">
          <input type="submit" class="btn btn-success" style="margin-top: 15px" value="pay with card">
        </form>
      </div>
      <div th:if="${payment}">
        <h4>Success</h4>
      </div>
      <div th:if="${error}">
        <h4>Error</h4>
      </div>
    </div>

  </div>


</div>
<script>
  const tempFunc = () => {
    const url = "http://localhost:8080/api/customer/checkout";
    fetch(url, {
    method: 'POST'
  })
  .then(res=> res.json())
  .then(res=>{
    console.log(res);
    if(res.status)
    //customer/login
    window.location.replace("/customer/login");

  })
  .catch(err => console.log(err))
  }

  window.onload = () => {
   document.querySelector("#bill-table").innerHTML = "";
    fetch("http://localhost:8080/api/customer/checkout")
      .then(res => res.json())
      .then(res => {

      //load the table
        let resData = "";
        res.list.forEach((el, i) => {
          resData += `<tr class="table-secondary">
            <th scope="row">${i+1}</th>
            <td>${el.food}</td>
            <td>${el.quantity}</td>
            <td>${el.total}</td>
          </tr>`
        })
        document.querySelector("#bill-table").innerHTML = resData

        //load the total price
        let priceList = res.list.map(el => el.total)
        let total = priceList.reduce((a, b) => a + b, 0)

        document.querySelector("#bill-total").innerHTML = `Total price: ${total}`

      })
      .catch(err => console.log(err))
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>